*, *::after, *::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  
  background: url('../images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blur {
  width: 100%;
  height: 100vh;

  background: linear-gradient(to left, #31353642, #9292921c, #31353648);
}

// ========== RESETS ========== //

@import 'partials/menu';
@import 'partials/responsividade';
@import 'partials/container';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
 
// ========== IMPORTAÇÕES ========== //
